body{
    text-align: center;
    background-color: rgb(225, 238, 170);
}

.clock{
    margin: 50px auto;
    width: 400px;
    border: 10px solid rgb(163, 28, 28);
    box-shadow: rgb(65, 7, 7) 5px 5px ;
    border-radius: 10px;
    background-color: rgba(1, 18, 37, 0.959);
    color: rgb(122, 212, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.displayTime{
    font-size: 48px;
    padding: 5vh;
    padding-bottom: 2vh;
}
.displayDate{
    padding-bottom: 2vh;
    font-size: 3vh;
}

.author{
    font-family: cursive;
}
 
@media screen and (max-width: 430px){
    .clock{
        width: 90%;
        border: 6px solid brown;
        box-shadow: rgb(65, 7, 7) 3px 3px ;

    }
    .displayTime{
        font-size: 40px;
    }   
    .displayDate{
        font-size: 3vw;
    }
}


@media screen and (max-width: 350px){
    .clock{
        border: 4px solid brown;
    }
    .displayTime{
        font-size: 6vh;
    }
    .author{
        font-size: 14px;
    }   
}